{% extends "base.html" %}

{% block content %}
<h2 class="system"> {{ c.system }}</h2>
<h1>{{ c.race }} {{ c.class_name }}</h1>
<!--h2 class="appearence">{{ c.appearance }}</h2-->
<h2 class="occupation">{{ c.occupation}}</h2>

<table class="attr">
    <tr>
        <td><strong>STR</strong>: {{ c.attr.STR }}</td>
        <td><strong>DEX</strong>: {{ c.attr.DEX }}</td>
        <td><strong>CON</strong>: {{ c.attr.CON }}</td>
    </tr>
    <tr>
        <td><strong>INT</strong>: {{ c.attr.INT }}</td>
        <td><strong>WIS</strong>: {{ c.attr.WIS }}</td>
        <td><strong>CHA</strong>: {{ c.attr.CHA }}</td>
    </tr>
</table>

<table>
  <tr><td>
  <table class='saves'>
    <tr>
        <td class="save">{{ c.saves_with_names.fortitude.0}}</td> <td>{{ c.saves_with_names.fortitude.1}}</td>
    </tr>
    <tr>
        <td class="save">{{ c.saves_with_names.dodge.0}}</td>
        <td>{{ c.saves_with_names.dodge.1}}</td>
    </tr>
    <tr>
        <td class="save">{{ c.saves_with_names.health.0}}</td> <td>{{ c.saves_with_names.health.1}}</td>
    </tr>
    <tr>
        <td class="save">{{ c.saves_with_names.perception.0}}</td> <td>{{ c.saves_with_names.perception.1}}</td>
    </tr>
    <tr>
        <td class="save">{{ c.saves_with_names.willpower.0}}</td> <td>{{ c.saves_with_names.willpower.1}}</td>
    </tr>
    <tr>
        <td class="save">{{ c.saves_with_names.ego.0}}</td>
        <td>{{ c.saves_with_names.ego.1}}</td>
    </tr>
  </table>
	  </td>
	  <td>
  <table class='second_stats'>
    <tr>
	<td><strong>Level</strong>: {{c.level}}</td>
    </tr>
    <tr>
        <td>{% if c.hp %}<strong>HP</strong>: {{ c.hp }}{% else %}<strong>HD</strong>: {{ c.hd }}{% endif %}</td>
    </tr>
    <tr>
        <td><strong>AC</strong>: {{ c.ac }}</td>
    </tr>
    <tr>
	    <td><strong>Encumberance</strong>: {{c.encumbrance}}</td>
    </tr>
    <tr>
	    <td><strong>Move</strong>: {{c.move}}</td>
    </tr>
  </table>
  </td></tr>
</table>

<table class="weapon">
    <tr>
        <td>Initiative Bonus: {{ c.initiative_bonus }}</td>
        <td>Melee Attack Bonus: {{ c.melee_attack_bonus }}</td>
        <td>Ranged Attack Bonus: {{ c.ranged_attack_bonus }}</td>
    </tr>
</table>
<table class="weapon">
    <tr>
	    <td>Combat Options:</td><td colspan="4"> {{ c.combat_options }}</td>
    </tr>
    <!--
    <tr>
	    <td>Proficient Weapons:</td><td colspan="2">{{ c.prof_weapons }}</td>
    </tr>
    -->
</table>

<div id="extras">

  {% if c.skills %}
  <div class="block">

      <h3>Skills</h3>
      <table class="thief skills">
          <tr>
              <th>Skill</th><th>Bonus</th>
          </tr>
          {% for skill, chance in c.skills %}
          <tr>
              <td>{{ skill }}</td><td>{{ chance }}</td>
          </tr>
          {% endfor %}
      </table>

      {% if c.sneak_attack %}
      <h3>Sneak Attack ({{c.sneak_attack}})</h3>
      <table class="thief skills">
          <tr><td>On a Sneak Attack apply a +{{c.sneak_attack}} bonus to the attack roll and add {{ c.sneak_attack_dmg }}.</td></tr>
      </table>
      {% endif %}

      {% if c.spell %}
      <h3>Spells</h3>
      <table>
      <tr><td>Spellcasting bonus: {{ c.spellcasting_bonus }}</td></tr> 
      <tr><td>Spell DC: {{ c.spell_dc}}</td></tr> 
      </table>
      <table class="thief skills">
	<!--tr><td><strong>Level 1</strong></td><td></td></tr-->
	<tr><th>Spell</th><th>Casting DC</th></tr>
        {% for spell in c.spell %}
	    <tr>
		  <td style="text-align: left;">{{ spell }}</td>
		  <td style="width: 10%;">11</td>
	    </tr>
        {% endfor %}
      </table>
      {% endif %}
      {% if c.class_name == 'Cleric' %}
      <h3>Turn Undead</h3>
      <table class="skills">
          <tr>
              <th>Undead</th><th>Roll</th>
          </tr>
          {% for undead, roll in c.character_class.turn %}
          <tr>
              <td>{{ undead }}</td><td>{{ roll }}</td>
          </tr>
          {% endfor %}
      </table>
      {% endif %}

      {% if c.class_name == 'Thief' %}
      <h3>Perks</h3>
      <table class="skills">
        {% for perk, desc in c.perks %}
          <tr>
		  <td>{{ perk }} </td><td>{{ desc }}</td> 
          </tr>
        {% endfor %}
      </table>
      {% endif %}


  </div>
  {% endif %}

  <div class="block">
      <h3>Equipment</h3>
      <table class="equipment">
	<tr>
		<td><i>Prime Hand: </i></td><td>{{c.prime_hand}}</td> 
	</tr><tr>
		<td><i>Off Hand: </i></td><td>{{c.off_hand}}</td> 
	</tr><tr>
		<td><i>Worn: </i></td><td>{{c.worn}}</td> 
	</tr>
      </table>

      <i>Ready Equipment ({{c.ready_items_allowed}} items max)</i>
      <table class="equipment">
        {% for item in c.ready_equipment %}
	<tr><td>{{ item }}</td></tr> 
        {% endfor %}
      </table>
      <i>{{c.pack_name}} ({{c.pack_items_allowed}} items max)</i>
      <table class="equipment">
        {% for item in c.equipment %}
	<tr><td>{{ item }}</td></tr> 
        {% endfor %}
      </table>
      <i>Non-encumbering items carried</i>
      <table class="equipment">
        {% for item in c.non_enc_equipment %}
	<tr><td>{{ item }}</td></tr> 
        {% endfor %}
      </table>
      <i>Purse</i>
      <table class="equipment">
        {% for item in c.purse %}
	<tr><td>{{ item }}</td></tr> 
        {% endfor %}
      </table>

  </div>

  {% if c.retainer %}
  <div class="block">
      <h3>Retainer</h3>
      <ul>
          <li>{{ c.retainer }}</li>
      </ul>
  </div>
  {% endif %}

  {% if c.languages|length > 1 %}
  <div class="block">
      <h3>Languages</h3>
      <ul>
          <li>Common</li>
          <li>Alignment</li>
          {% for language in c.languages|sort %}
          <li>{{ language }}</li>
          {% endfor %}
      </ul>
  </div>
  {% endif %}

  {% if c.wild_talent %}
  <div class="block">
    <h3>Psionic Talent</h3>
    <p>{{ c.wild_talent }}</p>
  </div>
  {% endif %}
</div>

<footer>
</footer>
{% endblock %}
