{% extends "base.html" %}

{% block page_class %}npcs{% endblock %}

{% block title %}Random NPCs{% endblock %}

{% block content %} 

<h1>{{characters|length}} Random NPCs</h1>
<h2 class="appearence">&nbsp;</h2>

<table class='npc'>
	<thead>
	    <tr/>
<!--
	        <th class="class">Class</th>
	        <th class="attr">STR</th>
	        <th class="attr">INT</th>
	        <th class="attr">WIS</th>
	        <th class="attr">DEX</th>
	        <th class="attr">CON</th>
	        <th class="attr">CHA</th>
	        <th class="attr">AC</th>
	        <th class="attr">HP</th>
		<th class="appearence">Appearance and Personality</th>
		<th></th>
-->
	    </tr>
	</thead>
    {% for c in characters %}
    <tr> <td colspan="10"><hr/></td> </tr>
    <tr>
        {% if c.system == 'Homebrew' %}
	   <td class="class">{{ c.race }} {{c.class_name}}</td>
        {% else -%}
	   <td class="class">{{c.class_name}}</td>
        {% endif -%}
	<td class="attr"><b>STR</b> {{ c.attr.STR }}</td>
	<td class="attr"><b>INT</b> {{ c.attr.INT }}</td>
	<td class="attr"><b>WIS</b> {{ c.attr.WIS }}</td>
	<td class="attr"><b>DEX</b> {{ c.attr.DEX }}</td>
	<td class="attr"><b>CON</b> {{ c.attr.CON }}</td>
	<td class="attr"><b>CHA</b> {{ c.attr.CHA }}</td>
	<td class="attr"> 
		<b>AC</b> {{ c.ac }}
		<b>HP</b> {{ c.hp }}
	</td>
	<td class="attr">
        {% if c.melee_attack_bonus -%}
		<b>MB</b> {{ c.melee_attack_bonus }}
        {% endif -%}
        {% if c.ranged_attack_bonus -%}
		<b>RB</b> {{ c.ranged_attack_bonus }}
        {% endif -%}
	</td>
        <td></td>
        <!-- <td class="appearence">{{ c.appearance }}, {{ c.personality }}</td> -->
    </tr> 
    <tr>
	    <td></td>
	    <td class="appearence" colspan="9"><b>Occupation: </b> {{ c.occupation}}</td>
    </tr> 
    <tr>
	    <td></td>
	    <td class="appearence" colspan="9"><b>Desc: </b> {{ c.appearance }}, {{ c.personality }}</td>
    </tr>
    <!--
    <tr>
	    <td></td>
	    <td colspan="9"><b>Saves:</b> Poison {{c.saves.poison}} Wands {{c.saves.wands}} Petrify {{c.saves.stone}} Breath {{c.saves.breath}} Magic {{c.saves.magic}}</td>
    </tr>
    -->
    {% if c.skills -%}
    <tr>
	    <td></td>
	    <td class="skills" colspan="9"><b>Skills: </b> 
		    {% for s in c.skills %} 
		        {% if s.1 > 1 %}
		            {{s.0}} {{s.1}}, 
                        {% endif %}
	            {% endfor %}
	    </td>
    </tr>
    {% endif %}
    {% if c.spell -%}
    <tr>
	    <td></td>
	    <td class="spell" colspan="9"><b>Spells:</b> {% for sp in c.spell %} {{sp}},{% endfor %}</td>
    </tr>
    {% endif %}
    <tr>
	    <td></td>
	    <td class="equipment" colspan="9"><b>Equipment:</b> {% for e in c.equipment %} {{e}},{% endfor %}</td>
    </tr>
    <tr> <td colspan="10"><hr/></td> </tr>
    {% endfor %}
</table>

<footer>
    <p>
        Site designed and built by <a href="http://funkaoshi.com">Ramanan Sivaranjan</a>. Check out more D&D stuff at <a href="http://save.vs.totalpartykill.ca">Save vs. Total Party Kill</a>. Random Personalities from this <a href="http://angband.oook.cz/steamband/CharacterTraits.pdf">random table</a>.If this site looks ugly, please let me know&mdash;unless you're using Internet Explorer.
    </p>
</footer>
{% endblock %}

