{% extends "base.html" %}

{% block page_class %}npcs{% endblock %}

{% block title %}Random NPCs{% endblock %}

{% block content %} 

<h1>{{characters|length}} Random NPCs</h1>
<h2 class="appearence">&nbsp;</h2>

<table class='npc'>
	<thead>
	    <tr>
	        <th class="class">Class</th>
		<th colspan="9">Description</th>
	    </tr>
	</thead>
    {% for c in characters %}
    <tr> <td colspan="10"><hr/></td> </tr>
    <tr>
        {% if c.system == 'Homebrew' %}
	<td class="class">{{ c.race }} {{c.level}} lvl {{c.class_name}} {{c.get_status[0]}}</td>
        {% else -%}
	   <td class="class">{{c.class_name}}</td>
        {% endif -%}
	<td class="attr"><b>STR</b> {{ c.attr.STR }}</td>
	<td class="attr"><b>INT</b> {{ c.attr.INT }}</td>
	<td class="attr"><b>WIS</b> {{ c.attr.WIS }}</td>
	<td class="attr"><b>DEX</b> {{ c.attr.DEX }}</td>
	<td class="attr"><b>CON</b> {{ c.attr.CON }}</td>
	<td class="attr"><b>CHA</b> {{ c.attr.CHA }}</td>
	<td class="attr"> 
		<b>AC</b> {{ c.ac }}
		<b>HP</b> {{ c.hp }}
	</td>
	<td class="attr">
        {% if c.melee_attack_bonus -%}
		<b>MB</b> {{ c.melee_attack_bonus }}
        {% endif -%}
        {% if c.ranged_attack_bonus -%}
		<b>RB</b> {{ c.ranged_attack_bonus }}
        {% endif -%}
        {% if c.initiative_bonus -%}
		<b>Init</b> {{ c.initiative_bonus }}
        {% endif -%}
	</td>
        <td></td>
    </tr> 
    {% if c.system == 'Homebrew' %}
    <tr>
	    <td></td>
	    <td class="appearence" colspan="9"><b>Occupation: </b> {{ c.occupation}}</td>
    </tr> 
    {% endif -%}
    <tr>
	    <td></td>
	    <td class="appearence" colspan="9"><b>Desc: </b> {{ c.appearance }}, {{ c.personality }}</td>
    </tr>
    {% if c.system != 'Homebrew' %}
    <tr>
	    <td></td>
	    <td colspan="9"><b>Saves:</b> Poison {{c.saves.poison}} Wands {{c.saves.wands}} Petrify {{c.saves.stone}} Breath {{c.saves.breath}} Magic {{c.saves.magic}}</td>
    </tr>
    {% endif -%}
    {% if c.skills -%}
    <tr>
	    <td></td>
	    <td class="skills" colspan="9"><b>Skills: </b> 
		    {% for s in c.skills %} 
		        {% if s.1 != '0' %}
		            {{s.0}} {{s.1}}, 
                        {% endif %}
	            {% endfor %}
	    </td>
    </tr>
    {% endif %}
    {% if c.spell -%}
    <tr>
	    <td></td>
	    <td class="spell" colspan="9"><b>Spells:</b> {% for sp in c.spell %} {{sp}},{% endfor %}</td>
    </tr>
    {% endif %}
    <tr>
	    <td></td>
	    <td class="equipment" colspan="9"><b>Equipment:</b> 
                    {% if c.prime_hand -%}
		      {{c.prime_hand}}, 
                    {% endif %}
                    {% if c.off_hand -%}
		      {{c.off_hand}}, 
                    {% endif %}
		    {% for e in c.ready_equipment %} 
		      {{e}},
		    {% endfor %}
                    {% if c.pack_name -%}
		      {{c.pack_name}},
                    {% endif %}
		    {% for e in c.equipment %} 
		      {{e}},
		    {% endfor %}
	    </td>
    </tr>
    <tr> <td colspan="10"><hr/></td> </tr>
    {% endfor %}
</table>

{% endblock %}

